body{
    background-color: #101010;
    padding:0;
    margin:0;
}
.init_top a{
  text-decoration: none;
}
.init_top{
  position:fixed;
  width:100%;
  height:55px;
  background-color:black;
}
li{
  list-style: none;
}
.init_top li{
  padding-left:20px;
  float:left;
  color:gray;
}
.init_top1{
  position:relative;
  left:100px;
}
.init_top2{
  position:relative;
  left:700px;
}
.logo{
  position:relative;
  top:-8px;
  font-size:25px;
  font-weight:bold;
}
@media(max-width:800px){
  .init_top1{
    left:0px;
  }
  .init_top2{
    left:50px;
  }
  .init_top li{
    padding-left:10px;
  }
  .logo{
    padding-left:0px;
  }
}
.index_main{
  position:relative;
  top:300px;
  height:100px;
  font-size: 50px;
}
.index_main li{
  background: linear-gradient(to right, #90d5eb, #f586b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index_bottom{
  position: absolute;
  font-size:20px;
  left:50%;
  bottom:0;
}
.index_bottom li{
  color:gray;
}
.login_main{
  position:relative;
  top:230px;
  color:gray;
}
.login_square input{
  height:30px;
  width:400px;
  margin-top:20px;
  font-size:25px;
  background-color:#101010;
  color:gray;
  ime-mode:disabled;
}
input:focus{
  outline:none;
}
.login_button{
  margin-top:20px;
  width:100px;
  height:30px;
  font-size:25px;
  background-color: #101010;
  color:gray;
  border:0px;
}
button:focus{
  outline:none;
}
.signup_main{
  position:relative;
  top:200px;
  color:gray;
}
.signup_square input{
  height:30px;
  width:400px;
  margin-top:20px;
  font-size:25px;
  background-color:#101010;
  color:gray;
  padding-left:10px;
}
.signup_button{
  margin-top:20px;
  width:200px;
  height:30px;
  font-size:25px;
  background-color: #101010;
  color:gray;
  border:0px;
}

.chal_main{
  position:relative;
  top:100px;
  margin-left:200px;
}
.chal_main li{
  color:gray;
  font-size:30px;
}
