<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <link rel="stylesheet" href="/static/style.css">
  <body>
    <div class="top">
      <div class="top1">
        <ul>
          <a href="{{ url_for('index') }}"><li class="logo" style="font-family:consolas;">INF0 Wargame</li></a>
          <a href="{{ url_for('notice') }}"><li>Notice</li></a>
          <a href="{{ url_for('problems') }}"><li>Problems</li></a>
          <a href="{{ url_for('scoreboard') }}"><li>Scoreboard</li></a>
          <li>|</li>
          <a href="{{ url_for('signup') }}"><li>Signup</li></a>
          <li>|</li>
          <a href="{{ url_for('login') }}"><li>Login</li></a>
        </ul>
      </div>
    </div>
    <div class="main">
      <center>
        <form class="tool" action="/login" method="POST">
          <fieldset class="square" style="width:500px;height:300px;">
            <center>
            <li style="font-size:50px;">Log In</li>
            <li><input type="text" name="username" value="" placeholder="Username" style="margin-top:50px;padding-left:10px;"></li>
            <li><input type="password" name="password" value="" placeholder="Password" style="margin-bottom:20px;padding-left:10px;"></li>
            <input type="submit" name="button">
            </center>
          </fieldset>
        </form>
      </center>
    </div>
  </body>
</html>
