<!DOCTYPE html>
<html>
	<body>
		{% include 'init.html' %}
    <div class="notice_main" style="color:gray;margin-top: 70px;margin-left: 50px;">
			<div class="notice_field">
				<h1>INFO WARGAME</h1>
				<p>Created by INFO</p>
				<p>From Daedeok Software Meister High School with love</p>

				<h2>License</h2>
				<p>INFO WARGAME is free software: you can redistribute it and/or modify</p>
				<p>it under the terms of the GNU General Public License as published by</p>
				<p>the Free Software Foundation, either version 3 of the License, or</p>
				<p>(at your option) any later version.</p>
				<p>This program is distributed in the hope that it will be useful,</p>
				<p>but WITHOUT ANY WARRANTY; without even the implied warranty of</p>
				<p>MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the</p>
				<p>GNU General Public License for more details.</p>

				<h2>Open Source</h2>
				<p>The full source code can be obtained from:</p>
				<p>https://github.com/infodsm/wargame</p>

				<h2>Privacy Policy</h2>
				<p>INFO operates the INFO WARGAME website, which provides the SERVICE.</p>
				<p>This page is used to inform website visitors regarding our policies with the collection, </p>
				<p>use, and disclosure of Personal Information if anyone decided to use our Service.</p>
				<p>If you choose to use our Service, then you agree to the collection</p>
				<p>and use of information in relation with this policy.</p>
				<p>The Personal Information that we collect are used for providing and</p>
				<p>improving the Service. We will not use or share your information with</p>
				<p>anyone except as described in this Privacy Policy.</p>

				<h3>Information Collection and Use</h3>

				<p>For a better experience while using our Service, we may require you</p>
				<p>to provide us with certain personally identifiable information,</p>
				<p>including but not limited to your name, e-mail, phone number, and postal address.</p>
				<p>The information that we collect will be used to contact or identify you.</p>

				<h3>Log Data</h3>

				<p>We want to inform you that whenever you visit our Service,</p>
				<p>we collect information that your browser sends to us that is called Log Data.</p>
				<p>This Log Data may include information such as your computer’s</p>
				<p>Internet Protocol ("IP") address, browser version, pages of our Service</p>
				<p>that you visit, the time and date of your visit, your usage data,</p>
				<p>the time spent on those pages, and other statistics.</p>

				<h3>Cookies</h3>
				<p>Cookies are files with small amount of data that is</p>
				<p>commonly used an anonymous unique identifier.</p>
				<p>These are sent to your browser from the website that</p>
				<p>you visit and are stored on your computer’s hard drive.</p>
				<p>Our website uses these "cookies" to collection information</p>
				<p>and to improve our Service.</p>
				<p>You have the option to either accept or refuse these cookies,</p>
				<p>and know when a cookie is being sent to your computer.</p>
				<p>If you choose to refuse our cookies, you may not be able</p>
				<p>to use some portions of our Service.</p>

				<h3>Service Providers</h3>
				<p>We may employ third-party companies and individuals due to the following reasons:</p>
				<ul>
						<li>To facilitate our Service;</li>
						<li>To provide the Service on our behalf;</li>
						<li>To perform Service-related services; or</li>
						<li>To assist us in analyzing how our Service is used.</li>
				</ul>
				<p>We want to inform our Service users that these third parties</p>
				<p>have access to your Personal Information.</p>
				<p>The reason is to perform the tasks assigned to them on our behalf.</p>
				<p>However, they are obligated not to disclose</p>
				<p>or use the information for any other purpose.</p>

				<h3>Security</h3>
				<p>We value your trust in providing us your Personal Information,</p>
				<p>thus we are striving to use commercially acceptable means of protecting it.</p>
				<p>But remember that no method of transmission over the internet,</p>
				<p>or method of electronic storage is 100% secure and reliable,</p>
				<p>and we cannot guarantee its absolute security.</p>

				<h3>Links to Other Sites</h3>
				<p>Our Service may contain links to other sites.</p>
				<p>If you click on a third-party link, you will be directed to that site.</p>
				<p>Note that these external sites are not operated by us.</p>
				<p>Therefore, we strongly advise you to review the Privacy Policy of these websites.</p>
				<p>We have no control over, and assume no responsibility for the content,</p>
				<p>privacy policies, or practices of any third-party sites or services.</p>

				<h3>Changes to This Privacy Policy</h3>
				<p>We may update our Privacy Policy from time to time.</p>
				<p>Thus, we advise you to review this page periodically for any changes.</p>
				<p>We will notify you of any changes by posting the new Privacy Policy on this page.</p>
				<p>These changes are effective immediately, after they are posted on this page.</p>

				<h3>Contact Us</h3>
				<p>If you have any questions or suggestions about our</p>
				<p>Privacy Policy, do not hesitate to contact us.</p>
			</div>
		</div>
	</body>
</html>
