<!DOCTYPE html>
<html lang="en">
  <body>
    {% include 'init.html' %}
    <div class="main">
      <center>
        <form class="tool" method="POST">
          <fieldset class="square" style="width:500px;height:360px;">
            <center>
              <li style="font-size:50px;">Sign Up</li>
              <input type="text" name="" placeholder="Username" required>
              <input type="password" id="pass"  placeholder="Password" required>
              <input type="password" id="repass" placeholder="Re-type the Password" required>
              <input type="text" name=""  placeholder="Email" required>
            <input type="submit" name="button">
            </center>
          </fieldset>
        </form>
      </center>
    </div>
  </body>
</html>
